
body{
    background-color: #fff4e8
}

.logo-header {
    display: flex; /* Gør containeren til en flexbox */
    justify-content: center; /* Centrerer vandret */
}

.logo-img {
    max-width: 300px; /* Billedets max bredde 300px */
    width: 100%; /* Fylder 100% af containeren */
    height: auto; /* Bevarer billedets proportioner, så det ikke ændrer sig */
}

.bundnav{
    background-color: white;
    display: flex; /* Brug flexbox til at placere knapperne på linje */
    gap: 10px; /* Lidt luft mellem knapperne */
    position: fixed; /* Navbar er låst */
    width: 100%;
    border-radius: 5px;
    bottom: 0;        /* Placerer den helt nede i bunden */
    left: 0;          /* Fra venstre kant */
}



/* De fire cards på forsiden */
.card-row {
    display: flex; /* Gør at de fire cards ligger på en række */
    justify-content: space-between; /*Mellemrum mellem dem*/
    margin-bottom: 20px; /* Afstanden imellem cards */
}

/*Udseendet på cards*/
.Quiz-card,
.video-card,
.sandtelfalsk-card,
.Anbefalinger-card {
    width: 48%; /* Hver card fylder ca halvdelen af rækken */
    height: 100px;
    border-radius: 30px;
}

.Quiz-card, .Anbefalinger-card{
    border: 2px solid #FA4E8A /* Den pinke kant */
}

/*Billederne inde i cards*/
.Quiz-card img,
.video-card img,
.sandtelfalsk-card img,
.Anbefalinger-card img {
    /*Billederne fylder hele bredden og højden af cards*/
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

    .card-row {
        flex-direction: row; /*Vandret*/
        gap: 20px; /* Mellemrummet mellem cards*/
    }

    /*Bredde og fylde af cards i mobiltilstand*/
    .Quiz-card,
    .video-card,
    .sandtelfalsk-card,
    .Anbefalinger-card {
        width: 100%;
        height: 290px;
    }

.profilbillede img{
    width: 300px;
    height: 250px;
    margin-left: 90px;
}

.Hej{
    color: #FA4E8A;
    margin-top: 10px;
}

.navneboks{
    color: white;
    background-color: #FA4E8A;
    border-radius: 30px;
    width: 300px;
font-weight: bold;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-left: 90px;
}


.beskrivelsesboks{
    background-color: #FA4E8A;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    width: 300px;
    height: 200px;
    margin-left: 90px;
    margin-top: 20px;
    justify-content: left;
    padding: 10px;
}


.Oliviasgemte{
    background-color: #FA4E8A;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    width: 300px;
    margin-left: 80px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}



.Likede-cards{
border-radius: 30px;
    height: 200px;
    justify-content: space-between; /*Mellemrum mellem dem*/
}

.Likede-cards img{
    width: 100%;
}


.Søgefeltet{
background-color: #FA4E8A;
    color: white;
    border-radius: 30px;
    border: none;
    width: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 140px;
    margin-top: 200px;
}

.Sandt{
    background-color: #FA4E8A;
    color: white;
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
    width: 300px;
    margin-left: 90px;
    margin-top: 20px;
    text-align: center;
}

.Quiztid{
    background-color: #FA4E8A;
    color: white;
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
    width: 300px;
    margin-left: 80px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.Quizboks{
    padding-top: 20px;
    background-color: #E0D3ED;
color: black;
    height: 600px;
    border-radius: 30px;
    text-align: center;
}

.spørgsmålet{
    margin-bottom: 10px;
}

.svarene{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.spf{
border-radius: 30px;
    height: 200px;
    width: 200px;
    margin-top: 20px;
}

.serum{
    background-color: #FA4E8A;
    color: white;
    padding: 15px;
    border-radius: 30px;
}

.pimplepacthes{
    background-color: #FA4E8A;
    color: white;
    padding: 15px;
    border-radius: 30px;
}

    .solcreme{
        background-color: #FA4E8A;
        color: white;
        padding: 15px;
        border-radius: 30px;
    }

p{
font-weight: bold;
    text-align: center;
}

.Videoboks img{
border-radius: 30px;
    width: 300px;
    height: 500px;
    object-fit: cover;
}

.Videoboks{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.sandtelfalskboks{
display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff4e8;
    border-radius: 30px;
    padding: 20px;
    border: 3px solid #1EC9C1;
    margin-top: 40px;
    height: 200;
}

.Tekstserum{
font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.serumbillede{
display: flex;
}

.serumbillede img{
width: 200px;
}

    .Falskboks{
        background-color: #E0D3ED;
        border-radius: 30px;
        height: 280px;
        margin-top: 50px;
    }

.falsktekst{
color: #FA4E8A;
font-size: 40px;
padding: 20px;
    text-align: left;
}

.Forklaringen{
font-size: 20px;
    font-weight: normal;
    text-align: center;
}


.card-anbefaling{
display: flex;
flex-wrap: wrap;
max-width: 700px;
gap: 20px;
justify-content: center;
    margin: 40px auto;
}

.card-anbefaling > div {
width: 45%; /*to rækker*/
height: 300px;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
}

.card-anbefaling img{
max-width: 100%;
max-height: 100%;
    border-radius: 20px;
}

    .card-anbefaling {
        flex-direction: row; /*Vandret*/
        gap: 20px; /* Mellemrummet mellem cards*/
    }

.Oliviasanbefalinger{
background-color: #FA4E8A;
color: white;
padding: 15px;
border-radius: 30px;
font-weight: bold;
width: 300px;
margin-left: 90px;
margin-top: 20px;
text-align: center;
}


    /*Bredde og fylde af cards i mobiltilstand*/
    .solcremer-card, .decubal-card, .tretips-card, .ecookingto-card, .ecookingcream-card, .decubalto-card {
        width: 100%;
        height: 380px;
    }

.Videoertildig{
    background-color: #FA4E8A;
    color: white;
    padding: 12px;
    border-radius: 30px;
    font-weight: bold;
    width: 300px;
    margin-left: 80px;
    margin-top: 20px;
    text-align: center;
}

/* Tilpassede kærmstørrelser */
/* Tablet */
@media (min-width: 768px) {
    .card-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .Quiz-card,
    .video-card,
    .sandtelfalsk-card,
    .Anbefalinger-card {
        width: 48%;
        height: 240px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .card-row{
        flex-direction: row;
        justify-content: space-between;
    }

    .Quiz-card,
    .video-card,
    .sandtelfalsk-card,
    .Anbefalinger-card {
        width: 48%;
        height: 600px;
        object-fit: cover;
    }
}
