body{
    background-color: #fff4e8
}

.logo-header {
    display: flex; /* Gør containeren til en flexbox */
    justify-content: center; /* Centrerer vandret */
}

.logo-img {
    max-width: 300px; /* Billedets max bredde 300px */
    width: 100%; /* Fylder 100% af containeren */
    height: auto; /* Bevarer billedets proportioner, så det ikke ændrer sig */
}

.bundnav{
    background-color: white;
    display: flex; /* Brug flexbox til at placere knapperne på linje */
    gap: 60px; /* Lidt luft mellem knapperne */
    width: 100%;
    border-radius: 5px;
    padding: 10px; /* Skaber luft */
    position: fixed; /* Navbar er låst */
    bottom: 0;        /* Placerer den helt nede i bunden */
    left: 0;          /* Fra venstre kant */
}


.profil-img{
    max-width: 300px;
    margin-left: 90px;
    width: 100%; /* Fylder 100% af containeren */
    height: auto; /* Bevarer billedets proportioner, så det ikke ændrer sig */
}

h4{
    color: #FA4E8A;
    font-family: Popppins;
    font-weight: bold;
}

