body{
    background-color: #fff4e8
}

.logo-header {
    display: flex; /* Gør containeren til en flexbox */
    justify-content: center; /* Centrerer vandret */
}

.logo-img {
    max-width: 300px; /* Billedets max bredde 300px */
    width: 100%; /* Fylder 100% af containeren */
    height: auto; /* Bevarer billedets proportioner, så det ikke ændrer sig */
}

.bundnav{
    background-color: white;
    display: flex; /* Brug flexbox til at placere knapperne på linje */
    gap: 60px; /* Lidt luft mellem knapperne */
    width: 100%;
    border-radius: 5px;
}
}

